name: Release Go Binary

on:
  push:
    tags:
      - "v*.*.*"   
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build static binaries
        run: |
          mkdir -p dist
          CGO_ENABLED=0 GOOS=linux   GOARCH=amd64 go build -tags=release -o dist/erp-reports-cli-linux-amd64 .
          CGO_ENABLED=0 GOOS=darwin  GOARCH=amd64 go build -tags=release -o dist/erp-reports-cli-darwin-amd64 .
          CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -tags=release -o dist/erp-reports-cli-windows-amd64.exe .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# how to release: 
# 1st check last version via this command: git describe --abbrev=0 --tags
# commit and tag version: git tag -a v1.0.0 -m "v1.0.0"
# push: git push origin v1.0.0
# 2nd check last version via this command: git describe --abbrev=0 --tags
# 3rd run this workflow
